<h1><b>Email :</b> <%= current_user.email %></h1>
<h1><b>API_KEY :</b> <%= current_user.authentication_token %></h1>
<h1><b>Compte crée le :</b> <%= current_user.created_at.strftime("%d:%m:%Y") %></h1>
<h1><b>Plan d'abonnement :</b> Version Beta Gratuite</h1>